@import url('https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.css');

:root {
  --font-prefer: '';
  --vp-font-family-base: var(--font-prefer), ui-sans-serif, system-ui,
    'PingFang SC', 'Noto Sans CJK SC', 'Noto Sans SC', 'Heiti SC',
    'Microsoft YaHei', 'DengXian', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-font-family-mono: ui-monospace, 'Menlo', 'Monaco', 'Consolas',
    'Liberation Mono', 'Courier New', 'LXGW WenKai Screen', monospace;
  font-optical-sizing: auto;
}
