:root {
  --bg-1: #fff;
  --bg-2: #f6f8fa;
  --text-2: #666;
  --text-3: #999;
  --border: #d0d7de;
  --radius: 0.5rem;
}

:root.dark {
  --bg-1: #121212;
  --bg-2: #191919;
  --text-1: #ddd;
  --text-2: #aaa;
  --text-3: #777;
  --border: #313131;
}
