:root {
  --bg-1: #fff;
  --bg-2: #f6f8fa;
  --brand-1: #0e84de;
  --text-1: #333;
  --text-2: #666;
  --text-3: #999;
  --border: #d0d7de;
  --radius: 0.375rem;
}

:root.dark {
  --bg-1: #121212;
  --bg-2: #191919;
  --brand-1: #42b883;
  --text-1: #ddd;
  --text-2: #aaa;
  --text-3: #777;
  --border: #333;
}
